body{
  background: url("back.jpeg") no-repeat center center fixed;
}

div.Nav-container{
  position: relative;
  display: flex;
  height: 89px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.navbar{
font-family: 'Source Sans Pro',sans-serif;
font-weight: 500;
font-style: normal;
text-transform: uppercase;
width: 430px;
height: 21px;
position: absolute;
right: 61%;
font-size: 20px
}

ul.horizontal{
  text-align: center;
  margin: 2px;
  padding: 5px;
  list-style: none;
}

li.topli{
  margin: 0;
  display: inline-block;
  width: auto;
  height: auto;
  list-style: none;
}

.containsNavContents{
  margin: 0;
  padding: 0;
  list-style: none;
}

a.top{
  padding-left: 33px;
  color: black;
  text-decoration: none;
}

.player{
  position: relative;
  width: 45%;
  height:42%;
  display: flex;
  opacity: 0.7;
  left: 59%;
  top: 20px;
}

.headercontent{
  position: absolute;
  width: 60%;
  z-index: 2;
  top: 0px;
  left: 30%;
}
